@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}
body {
    line-height:17px;
    background-color: #E6EAE8;
}
a{
    color: #20AAE5;
    text-decoration: none;
}
.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #20aae5;
    border-bottom: 0.25em  solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}
.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	color: #1086BA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 180%;
	position: relative;
	top: 9px;
	font-size: 30;
}
a:hover { 
    text-decoration: none;
}
nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}
nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    border-bottom: 7px solid #e67e22;
    color: #fff;
}
.wrapper{
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width:75%;
    min-width: 950px;
}
.column{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
    color:#555;
}
.user_details {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}
.user_detail_left_right {
width :125px;
display: inline-block;
position: absolute;
}
.user_details img{
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}
.main_column {
    float: right;
    width:70%;
    z-index: -1;
    min-height: 160px;
}
.post_form {
    width: 100%;
}
.post_form textarea{
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size:12px;
    padding: 5px;
}
textarea:focus{
    outline: 0;
}
.post_form input[type="submit"]{
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
    font-family: 'Bellota-BoldItalic',sans-serif;
    color:#1E75CA;
    text-shadow:#73B6E2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}
.post_form input[type="submit"]:active{
    padding:5px 4px 4px 5px;
}
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}
#comment_iframe{
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}
.comment_section{
    padding: 0 5px 5px 5px;
}
.comment_section img{
    margin: 0 3px 3px 3px;
    border-radius:3px;
}
#comment_form textarea{
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"]{
    border: none;
    background-color: #20AAE5;
    color:#156588;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-shadow:#73B6E2 0.5px 0.5px 0px;
}
.newsfeedPostOptions{
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border:none;
}
.newsfeedPostOptions iframe{
    border: 0px;
    height: 20px;
    width: 180px;
}

.comment_like{
    background-color: transparent;
    border: none;
    font-size:14px;
    color:#3498db;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
}
.like_value{
    display: inline;
    font-size: 14px;
}
.profile_left{
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 650px;
    float: left;
    position: relative;
    background-color: #37B0E9;
    border-right: 10px solid #83D6FE;
    color: #CBEAF8;
    margin-right: 20px;
   
}
.profile_left img{
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 5px solid #83D6FE;
    border-radius: 100px;
}
.profile_info{
    display: list-item;
    background-color: #2980b9;
    width: 100%;
    padding: 10px 0 10px 0;
}
.profile_info p{
    margin: 0 0 0 20px;
    word-wrap: break-word;
}
.danger{
    background-color: #e74c3c;
}
.warning{
    background-color: #f0ad4e;
}
.default{
    background-color: #bdc3c7;
}
.success{
    background-color: #2ecc71;
}
.info{
    background-color: #3498db;
}
.deep_blue{
    background-color: #0043f0;
}
.profile_left input[type="submit"]{
    width:90%;
    height:30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
#accept_button{
    width: 20%;
    height:28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;

}
#ignore_button{
    width: 20%;
    height:28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;

}
.delete_button{
    height:22px;
    width: 22px;
    padding:0;
    float:right;
    border-radius: 4px;
    right: -15px;
    position: relative;
}
.profile_main_column{
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}
.profile_info_bottom{
    margin: 10px 0 0 15px;
}
#message_textarea{
    width: 80%;
    margin-right: 8px;
    border-radius: 5px;
    border:1px solid #D3D3D3;
    font-size: 12px;
}
#message_submit{
    height: 41px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: none;
    background-color: #20AAE5;
    color:#156588;
    border-radius: 5px;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-shadow:#73B6E2 0.5px 0.5px 0px;
}
.message{
    border: 1px solid #000;
    border-radius:5px;
    padding:5px 10px;
    display:inline-block;
    color:#fff;
}
.message#blue{
    background-color:#3498db;
    border-color: #2980b9;
    float:right;
    margin-bottom: 5px;
}
.message#green{
    background-color: #2ecc71;
    border-color: #27ae60;
    float: left;;
    margin-bottom: 5px;
}
.loaded_message{
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}
.loaded_conversations{
    max-height: 216px;
    overflow: scroll;
}
.user_found_messages{
    border-bottom: 1px solid #D3D3D3;
    padding: 8px 8px 10px 8px;
}
.user_found_messages:hover{
    background-color: #D3D3D3;
}
.user_found_messages img{
    height:35px;
    float:left;
}
#grey{
    color:#D3D3D3;
}
.resultDisplay{
 
    padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
    float:none;
}

.resultDisplay:hover{
    background-color: #EBEBEB;
    text-decoration: none;
}

.liveSearchProfilePic img{
    height: 43px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.liveSearchText{
    background-color: transparent;
    color:#1E96CA;
}
.liveSearchText p{
    margin-block-end:auto;
    	font-size: 12px;
}

.tab-content{
    margin-top: 25px;
}
.dropdown_data_window{
    height: 280px;
    padding:0px;
    background-color: #fff;
    border:1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top:none;
    width:300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}
.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}
.resultDisplayNotification{
    height: auto;
    color: #1485BD;
}
.resultDisplayNotification img{
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}
.timestamp_smaller{
    font-size: 85%;
    margin: 0;
}
.search{
    margin: 8px 0 0 15%;
}
.search #search_text_input{
    border:thin solid #E5E5E5;
    float: left;
    height: 15px;
    outline: 0;
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button_holder {
    background-color: #F1F1F1;
    border:thin solid #e5e5e5;
    cursor:pointer;
    float: left;
    height: 23px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.button_holder img{
    margin-top: 1px;
    width: 20px;
}
.search_results{
    background-color:#fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top:21px;
}
.search_results_footer{
    padding:7px 4px 0px 4px;
    height:30px;
    border:1px solid #DADADA;
    border-top:none;
    background-color: #20AAE5;
    text-align: center;
}
.search_results_footer a{
    
    color:#FFF;
}
.search_result{
    padding: 10px;
    height: 100px;
}
.searchPageFriendButtons{
    float:right;
}
.searchPageFriendButtons input[type="submit"]{
    border:none;
    padding: 7px 12px;
    border-radius:5px;
    color:#fff
}
.result_profile_pic{
    float:left;
    margin-right: 10px;
}
#search_hr{
    margin-bottom:0px;
}
#small_profile_pic{
    height: 65px;
    margin:1px 12px 0 2px;
    float:left;
}
#settings_input{
    border:1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size:14px;
    line-height: 20px;
}
.setting_submit{
    border: none;
    padding:7px 12px;
    border-radius: 5px;
    color:#fff;
}
.c{
    color:#fff;
}
.postedImage img{
    max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}
